---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>My primary tools of choice include:</p>
      <ul class="list-disc list-inside">
        <li>Angular</li>
        <li>React</li>
        <li>AWS (Certified Cloud Practitioner)</li>
        <li>Serverless Technologies</li>
        <li>NodeJS</li>
        <li>TailwindCSS</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I have experience in both frontend and backend development, as well as
      cloud technologies.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I'm always eager to learn and adapt to
      new technologies. My goal is to find the right solution for each project,
      ensuring scalability and efficiency.
    </p>
  </div>
</Card>
